<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>logger</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logger</servlet-name>
    <url-pattern>/logger</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>com.user.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>updateStudent</servlet-name>
    <servlet-class>com.user.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudent</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetStudentServlet</display-name>
    <servlet-name>getStudent</servlet-name>
    <servlet-class>com.user.GetStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudent</servlet-name>
    <url-pattern>/getStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddAcademicServlet</display-name>
    <servlet-name>addAcademic</servlet-name>
    <servlet-class>com.user.AddAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAcademic</servlet-name>
    <url-pattern>/addAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateAcademicServlet</display-name>
    <servlet-name>updateAcademic</servlet-name>
    <servlet-class>com.user.UpdateAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAcademic</servlet-name>
    <url-pattern>/updateAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddNonAcademicServlet</display-name>
    <servlet-name>addNonAcademic</servlet-name>
    <servlet-class>com.user.AddNonAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNonAcademic</servlet-name>
    <url-pattern>/addNonAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateNonAcademicServlet</display-name>
    <servlet-name>updateNonAcademic</servlet-name>
    <servlet-class>com.user.UpdateNonAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNonAcademic</servlet-name>
    <url-pattern>/updateNonAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AssignTeachersServlet</display-name>
    <servlet-name>assignTeachers</servlet-name>
    <servlet-class>com.subject.AssignTeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignTeachers</servlet-name>
    <url-pattern>/assignTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditProfileNonAcademicServlet</display-name>
    <servlet-name>editprofileNonAcademic</servlet-name>
    <servlet-class>com.user.EditProfileNonAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editprofileNonAcademic</servlet-name>
    <url-pattern>/editprofileNonAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RemoveStudentServlet</display-name>
    <servlet-name>removeStudent</servlet-name>
    <servlet-class>com.user.RemoveStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeStudent</servlet-name>
    <url-pattern>/removeStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RemoveAcademicServlet</display-name>
    <servlet-name>removeAcademic</servlet-name>
    <servlet-class>com.user.RemoveAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeAcademic</servlet-name>
    <url-pattern>/removeAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RemoveNonAcademicServlet</display-name>
    <servlet-name>removeNonAcademic</servlet-name>
    <servlet-class>com.user.RemoveNonAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeNonAcademic</servlet-name>
    <url-pattern>/removeNonAcademic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditProfileStudentServlet</display-name>
    <servlet-name>editprofileStudent</servlet-name>
    <servlet-class>com.user.EditProfileStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editprofileStudent</servlet-name>
    <url-pattern>/editprofileStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditProfileAcademicServlet</display-name>
    <servlet-name>editprofileAcademic</servlet-name>
    <servlet-class>com.user.EditProfileAcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editprofileAcademic</servlet-name>
    <url-pattern>/editprofileAcademic</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
	<error-code>404</error-code>
	<location>/schoolManager404.jsp</location>
  </error-page>
</web-app>